body {
  margin: 0;
  padding: 0;
}
#root {
  margin: 0;
}

.fade-white::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 21;
  background: linear-gradient(
    180deg,
    #fff,
    #fff9,
    #fff8,
    #fff7,
    transparent,
    transparent,
    transparent,
    transparent
  );
}


.fade-black::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 21;
  background: linear-gradient(
    180deg,
    #000,
    #0009,
    #0008,
    #0007,
    transparent,
    transparent,
    transparent,
    transparent
  );
}
